/*If the browser window is the same or smaller than 640 pixels, the page prints "Woman" */
@media screen and (max-width: 600px) {
  div:before {
    content: "Woman";
    color: white;
  }
}

/*If the browser window is the same or larger than 641 pixels, the page prints "Man" */
@media screen and (min-width: 600px) {
  div:before {
    content: "Man";
    color: black;
  }
}

/* Import fonts */
@font-face {
  font-family: "PP Mondwest";
  src: url("https://cdn.glitch.global/a85c8799-bfb8-4e98-b860-16df1a7ebb2a/PPMondwest-Regular.otf?v=1683991628278");
}

body {
  font-family: "PP Mondwest", serif;
  font-size: 100px;
  overflow-y: hidden;
}
