/*If the browser window is the same or smaller than 640 pixels, the page prints "Woman" */
@media screen and (max-width: 600px) {
  div:before {
    content: "Woman";
    color: white;
  }
}

/*If the browser window is the same or larger than 641 pixels, the page prints "Man" */
@media screen and (min-width: 600px) {
  div:before {
    content: "Man";
    color: black;
  }
}

/* Import fonts */
@font-face {
  font-family: ;
}

body {
  font-family: Times New Roman, serif;
  font-size: 100px;
  overflow-y: hidden;
}
