/*If the browser window is the same or smaller than 640 pixels, the page prints "Woman" */
@media screen and (max-width: 600px) {
  div:before {
    content: "Woman";
    color: #FFFF;
  }
}

/*If the browser window is the same or larger than 641 pixels, the page prints "Man" */
@media screen and (min-width: 600px) {
  div:before {
    content: "Man";
    color: #0000;
  }
}

body {
  font-family: Times, serif;
  font-size: 100px;
  overflow-y: hidden;
}
